.add-note{
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
}
.note-footer{
    display: flex;
    align-items: center;
   justify-content: space-between;
}

textarea{
    border: none;
    resize: none;
    background-color: aquamarine;
    border-radius: 10px;
}

.save{
    border-radius: 10px;
    padding: 5px;
    border-color: darkgrey;
}