.note.new{
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
}
.note-footer{
    display: flex;
    align-items: center;
   justify-content: space-between;
}

textarea{
    border: none;
    resize: none;
    background-color: aquamarine;
    border-radius: 10px;
}

textarea:focus {
    outline: none;
}

.save{
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border-color: darkgrey;
}

.save:hover{
    background-color: grey;
    cursor: pointer;
}